@model NewDms.Models.ReportSummary




@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@* <a id="sum_options" class="nav-link dropdown-toggle text-decoration-none text-black" style="width:fit-content;font-size:20px;" data-bs-toggle="dropdown" asp-controller="Operation" asp-action="Dashboard" aria-expanded="false">Sate Wise</a>

<ul class="dropdown-menu shadow" id="sumryoptions">
    <li class="dropdown-item" id="ByState">By State</li>
    <li class="dropdown-item" id="ByWarehouse">By Warehouse</li>
    <li class="dropdown-item" id="ByCCM">By CCM</li>
</ul>
 *@


<div class="row" style="display:block;">
    <h5>Attendance Report</h5>
    <div class="col-lg-8">
        <table class="table table-bordered table-responsive-lg" id="attendancereporttable">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">StateHead</th>
                    <th scope="col">AHM/HM</th>
                    <th scope="col">CCM</th>
                    <th scope="col">Location</th>
                    <th scope="col">Warehouse</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                

            </tbody>
        </table>
    </div>
</div>




<script>
   

</script>