html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(135deg, #b0adad, #112841);
    font-size:15px;
    
}
.header {
    background-color: #eeedb9;
    color: white;
}

.box {
    background: linear-gradient(135deg, #475e71, #112841);
}

.box-green {
    background: linear-gradient(135deg,#eeeeee,#eeecec);
}

.card:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(210, 241, 83, 0.5);
}